In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('own.db')

In [3]:
cursor = conn.cursor()

In [8]:
cursor.execute("drop table if exists alumno")

In [9]:
cursor.execute("""
create table alumno (
        id         int     primary key not NULL ,
        first_name text,
        last_name  text,
        phone      text
)
""")

In [10]:
conn.commit()

In [11]:
cursor.execute("""insert into alumno values (1, "Pedro", "Gonzalez", "0351-12345678")""")
cursor.execute("""insert into alumno values (2, "Rodrigo", "Perez", "0351-12345678")""")
cursor.execute("""insert into alumno values (3, "Gonzalo", "Rodriguez", "0351-12345678")""")

In [12]:
conn.commit()

In [40]:
for alumno in cursor.execute('SELECT * FROM alumno WHERE first_name LIKE \'Rodrigo\''):
    print(alumno)

(2, 'Rodrigo', 'Perez', '0351-12345678')

In [41]:
for alumno in cursor.execute('SELECT * FROM alumno ORDER BY first_name'):
    print(alumno)

(3, 'Gonzalo', 'Rodriguez', '0351-12345678')
(1, 'Pedro', 'Gonzalez', '0351-12345678')
(2, 'Rodrigo', 'Perez', '0351-12345678')
(24, 'alexandra', 'fuller', '081-634-4903')
(9, 'alison', 'richards', '0722-854-724')
(11, 'alison', 'richards', '0722-854-724')
(19, 'alison', 'richards', '0722-854-724')
(43, 'alison', 'richards', '0722-854-724')
(51, 'alison', 'richards', '0722-854-724')
(55, 'alison', 'richards', '0722-854-724')
(61, 'alison', 'richards', '0722-854-724')
(63, 'alison', 'richards', '0722-854-724')
(44, 'amanda', 'rhodes', '0718-917-001')
(48, 'capucine', 'brunet', '06-51-74-14-90')
(39, 'charlotte', 'kennedy', '081-698-0041')
(45, 'charlotte', 'kennedy', '081-698-0041')
(47, 'charlotte', 'kennedy', '081-698-0041')
(60, 'charlotte', 'kennedy', '081-698-0041')
(70, 'charlotte', 'kennedy', '081-698-0041')
(32, 'christelle', 'henry', '(550)-421-7667')
(12, 'ellinor', 'gebhard', '0172-2248004')
(8, 'emilie', 'larsen', '21142742')
(37, 'emilie', 'larsen', '21142742')
(56, 'emilie', 'larsen', '21142742')
(64, 'emilie', 'larsen', '21142742')
(67, 'emilie', 'larsen', '21142742')
(10, 'evan', 'simmmons', '081-199-7919')
(14, 'evan', 'simmmons', '081-199-7919')
(15, 'evan', 'simmmons', '081-199-7919')
(42, 'evan', 'simmmons', '081-199-7919')
(59, 'evan', 'simmmons', '081-199-7919')
(66, 'evan', 'simmmons', '081-199-7919')
(69, 'evan', 'simmmons', '081-199-7919')
(71, 'evan', 'simmmons', '081-199-7919')
(33, 'fernando', 'wright', '(106)-614-0541')
(68, 'frances', 'lynch', '(132)-633-5704')
(58, 'freja', 'pedersen', '30153324')
(28, 'georges', 'francois', '(508)-317-7168')
(22, 'gustav', 'poulsen', '40847922')
(38, 'hebe', 'da conceição', '(02) 6242-4525')
(25, 'ian', 'gonzalez', '0785-939-704')
(5, 'irísia', 'barbosa', '(27) 0377-1433')
(34, 'jill', 'andrews', '(703)-064-6159')
(53, 'jill', 'andrews', '(703)-064-6159')
(31, 'jimmie', 'pearson', '0727-669-524')
(35, 'jimmie', 'pearson', '0727-669-524')
(36, 'jimmie', 'pearson', '0727-669-524')
(57, 'jimmie', 'pearson', '0727-669-524')
(54, 'klaasjan', 'bertrand', '(901)-400-1619')
(20, 'latife', 'sadıklar', '(723)-224-0586')
(26, 'latife', 'durmaz', '(292)-716-2511')
(49, 'leo', 'manni', '048-302-78-19')
(18, 'luisa', 'leon', '632-570-832')
(7, 'lílian', 'cavalcanti', '(03) 1060-5518')
(4, 'marc', 'guerrero', '651-605-026')
(65, 'marie-josé', 'van haastert', '(199)-817-3697')
(13, 'minea', 'hautala', '040-429-79-03')
(40, 'minea', 'hautala', '040-429-79-03')
(62, 'minea', 'hautala', '040-429-79-03')
(17, 'oscar', 'vargas', '632-274-490')
(30, 'pauline', 'moreau', '06-87-09-52-55')
(16, 'roderik', 'hess', '(520)-019-5621')
(23, 'ruby', 'wright', '(564)-692-1931')
(46, 'sidónio', 'alves', '(30) 6502-0151')
(6, 'willow', 'edwards', '(073)-540-0847')
(41, 'xavier', 'côté', '725-389-3925')
(50, 'نازنین', 'سهيلي راد', '0954-951-0845')
(52, 'نازنین', 'سهيلي راد', '0954-951-0845')
(21, 'یلدا', 'سالاری', '0939-552-5293')
(27, 'یلدا', 'سالاری', '0939-552-5293')
(29, 'یلدا', 'سالاری', '0939-552-5293')
(72, 'یلدا', 'سالاری', '0939-552-5293')
(73, 'یلدا', 'سالاری', '0939-552-5293')

In [42]:
for alumno in cursor.execute('SELECT * FROM alumno ORDER BY last_name'):
    print(alumno)

(1, 'Pedro', 'Gonzalez', '0351-12345678')
(2, 'Rodrigo', 'Perez', '0351-12345678')
(3, 'Gonzalo', 'Rodriguez', '0351-12345678')
(46, 'sidónio', 'alves', '(30) 6502-0151')
(34, 'jill', 'andrews', '(703)-064-6159')
(53, 'jill', 'andrews', '(703)-064-6159')
(5, 'irísia', 'barbosa', '(27) 0377-1433')
(54, 'klaasjan', 'bertrand', '(901)-400-1619')
(48, 'capucine', 'brunet', '06-51-74-14-90')
(7, 'lílian', 'cavalcanti', '(03) 1060-5518')
(41, 'xavier', 'côté', '725-389-3925')
(38, 'hebe', 'da conceição', '(02) 6242-4525')
(26, 'latife', 'durmaz', '(292)-716-2511')
(6, 'willow', 'edwards', '(073)-540-0847')
(28, 'georges', 'francois', '(508)-317-7168')
(24, 'alexandra', 'fuller', '081-634-4903')
(12, 'ellinor', 'gebhard', '0172-2248004')
(25, 'ian', 'gonzalez', '0785-939-704')
(4, 'marc', 'guerrero', '651-605-026')
(13, 'minea', 'hautala', '040-429-79-03')
(40, 'minea', 'hautala', '040-429-79-03')
(62, 'minea', 'hautala', '040-429-79-03')
(32, 'christelle', 'henry', '(550)-421-7667')
(16, 'roderik', 'hess', '(520)-019-5621')
(39, 'charlotte', 'kennedy', '081-698-0041')
(45, 'charlotte', 'kennedy', '081-698-0041')
(47, 'charlotte', 'kennedy', '081-698-0041')
(60, 'charlotte', 'kennedy', '081-698-0041')
(70, 'charlotte', 'kennedy', '081-698-0041')
(8, 'emilie', 'larsen', '21142742')
(37, 'emilie', 'larsen', '21142742')
(56, 'emilie', 'larsen', '21142742')
(64, 'emilie', 'larsen', '21142742')
(67, 'emilie', 'larsen', '21142742')
(18, 'luisa', 'leon', '632-570-832')
(68, 'frances', 'lynch', '(132)-633-5704')
(49, 'leo', 'manni', '048-302-78-19')
(30, 'pauline', 'moreau', '06-87-09-52-55')
(31, 'jimmie', 'pearson', '0727-669-524')
(35, 'jimmie', 'pearson', '0727-669-524')
(36, 'jimmie', 'pearson', '0727-669-524')
(57, 'jimmie', 'pearson', '0727-669-524')
(58, 'freja', 'pedersen', '30153324')
(22, 'gustav', 'poulsen', '40847922')
(44, 'amanda', 'rhodes', '0718-917-001')
(9, 'alison', 'richards', '0722-854-724')
(11, 'alison', 'richards', '0722-854-724')
(19, 'alison', 'richards', '0722-854-724')
(43, 'alison', 'richards', '0722-854-724')
(51, 'alison', 'richards', '0722-854-724')
(55, 'alison', 'richards', '0722-854-724')
(61, 'alison', 'richards', '0722-854-724')
(63, 'alison', 'richards', '0722-854-724')
(20, 'latife', 'sadıklar', '(723)-224-0586')
(10, 'evan', 'simmmons', '081-199-7919')
(14, 'evan', 'simmmons', '081-199-7919')
(15, 'evan', 'simmmons', '081-199-7919')
(42, 'evan', 'simmmons', '081-199-7919')
(59, 'evan', 'simmmons', '081-199-7919')
(66, 'evan', 'simmmons', '081-199-7919')
(69, 'evan', 'simmmons', '081-199-7919')
(71, 'evan', 'simmmons', '081-199-7919')
(65, 'marie-josé', 'van haastert', '(199)-817-3697')
(17, 'oscar', 'vargas', '632-274-490')
(23, 'ruby', 'wright', '(564)-692-1931')
(33, 'fernando', 'wright', '(106)-614-0541')
(21, 'یلدا', 'سالاری', '0939-552-5293')
(27, 'یلدا', 'سالاری', '0939-552-5293')
(29, 'یلدا', 'سالاری', '0939-552-5293')
(72, 'یلدا', 'سالاری', '0939-552-5293')
(73, 'یلدا', 'سالاری', '0939-552-5293')
(50, 'نازنین', 'سهيلي راد', '0954-951-0845')
(52, 'نازنین', 'سهيلي راد', '0954-951-0845')

In [44]:
for alumno in cursor.execute('SELECT * FROM alumno ORDER BY first_name ASC'):
    print(alumno)

(3, 'Gonzalo', 'Rodriguez', '0351-12345678')
(1, 'Pedro', 'Gonzalez', '0351-12345678')
(2, 'Rodrigo', 'Perez', '0351-12345678')
(24, 'alexandra', 'fuller', '081-634-4903')
(9, 'alison', 'richards', '0722-854-724')
(11, 'alison', 'richards', '0722-854-724')
(19, 'alison', 'richards', '0722-854-724')
(43, 'alison', 'richards', '0722-854-724')
(51, 'alison', 'richards', '0722-854-724')
(55, 'alison', 'richards', '0722-854-724')
(61, 'alison', 'richards', '0722-854-724')
(63, 'alison', 'richards', '0722-854-724')
(44, 'amanda', 'rhodes', '0718-917-001')
(48, 'capucine', 'brunet', '06-51-74-14-90')
(39, 'charlotte', 'kennedy', '081-698-0041')
(45, 'charlotte', 'kennedy', '081-698-0041')
(47, 'charlotte', 'kennedy', '081-698-0041')
(60, 'charlotte', 'kennedy', '081-698-0041')
(70, 'charlotte', 'kennedy', '081-698-0041')
(32, 'christelle', 'henry', '(550)-421-7667')
(12, 'ellinor', 'gebhard', '0172-2248004')
(8, 'emilie', 'larsen', '21142742')
(37, 'emilie', 'larsen', '21142742')
(56, 'emilie', 'larsen', '21142742')
(64, 'emilie', 'larsen', '21142742')
(67, 'emilie', 'larsen', '21142742')
(10, 'evan', 'simmmons', '081-199-7919')
(14, 'evan', 'simmmons', '081-199-7919')
(15, 'evan', 'simmmons', '081-199-7919')
(42, 'evan', 'simmmons', '081-199-7919')
(59, 'evan', 'simmmons', '081-199-7919')
(66, 'evan', 'simmmons', '081-199-7919')
(69, 'evan', 'simmmons', '081-199-7919')
(71, 'evan', 'simmmons', '081-199-7919')
(33, 'fernando', 'wright', '(106)-614-0541')
(68, 'frances', 'lynch', '(132)-633-5704')
(58, 'freja', 'pedersen', '30153324')
(28, 'georges', 'francois', '(508)-317-7168')
(22, 'gustav', 'poulsen', '40847922')
(38, 'hebe', 'da conceição', '(02) 6242-4525')
(25, 'ian', 'gonzalez', '0785-939-704')
(5, 'irísia', 'barbosa', '(27) 0377-1433')
(34, 'jill', 'andrews', '(703)-064-6159')
(53, 'jill', 'andrews', '(703)-064-6159')
(31, 'jimmie', 'pearson', '0727-669-524')
(35, 'jimmie', 'pearson', '0727-669-524')
(36, 'jimmie', 'pearson', '0727-669-524')
(57, 'jimmie', 'pearson', '0727-669-524')
(54, 'klaasjan', 'bertrand', '(901)-400-1619')
(20, 'latife', 'sadıklar', '(723)-224-0586')
(26, 'latife', 'durmaz', '(292)-716-2511')
(49, 'leo', 'manni', '048-302-78-19')
(18, 'luisa', 'leon', '632-570-832')
(7, 'lílian', 'cavalcanti', '(03) 1060-5518')
(4, 'marc', 'guerrero', '651-605-026')
(65, 'marie-josé', 'van haastert', '(199)-817-3697')
(13, 'minea', 'hautala', '040-429-79-03')
(40, 'minea', 'hautala', '040-429-79-03')
(62, 'minea', 'hautala', '040-429-79-03')
(17, 'oscar', 'vargas', '632-274-490')
(30, 'pauline', 'moreau', '06-87-09-52-55')
(16, 'roderik', 'hess', '(520)-019-5621')
(23, 'ruby', 'wright', '(564)-692-1931')
(46, 'sidónio', 'alves', '(30) 6502-0151')
(6, 'willow', 'edwards', '(073)-540-0847')
(41, 'xavier', 'côté', '725-389-3925')
(50, 'نازنین', 'سهيلي راد', '0954-951-0845')
(52, 'نازنین', 'سهيلي راد', '0954-951-0845')
(21, 'یلدا', 'سالاری', '0939-552-5293')
(27, 'یلدا', 'سالاری', '0939-552-5293')
(29, 'یلدا', 'سالاری', '0939-552-5293')
(72, 'یلدا', 'سالاری', '0939-552-5293')
(73, 'یلدا', 'سالاری', '0939-552-5293')

In [16]:
import requests
import csv

In [22]:
def generate_user():
    # Solicitamos un usuario random
    data = requests.get("https://randomuser.me/api/")
    # la respuesta es un json
    response = data.json()
    # obtenemos los resulados
    results = response["results"]
    # nos quedamos con el primero (unico)
    user = results[0]
    cell = user["cell"]
    return [user["name"]["first"], user["name"]["last"], cell]

In [26]:
alumno_id = 34
for i in range(40):
    user = generate_user()
    data = [alumno_id] + user
    cursor.execute("""insert into alumno values (?, ?, ?, ?)""", data)
    alumno_id += 1

In [27]:
conn.commit()